.col-12
  h5 Таблица экспорта
  table.export-table
    tr
      td ID номер
      td#export-idNumber
    tr
      td Имя пациента
      td#export-fullName
    tr
      td Пол
      td#export-gender
    tr
      td Возраст (мес.)
      td#export-ageConverted
    tr
      td Категория
      td#export-category
    tr
      td Диагноз МКБ
      td#export-diagnosisMKB
    
    // A1
    tr
      td Рост
      td#export-height
    tr
      td Рост сидя
      td#export-heightSitting
    tr
      td Вес
      td#export-weight
    tr
      td Индекс массы тела
      td#export-bmi
    tr
      td Охват талии
      td#export-waistLength
    tr
      td Охват бедер
      td#export-hipLength
    tr
      td Отношение талия-бедра
      td#export-whr
    tr
      td Экскурсия грудной клетки (см)
      td#export-chestExcursion
    tr
      td Разница в относительной длине ног (см)
      td#export-legLengthDifferenceRelative
    tr
      td Разница в абсолютной длине ног (см)
      td#export-legLengthDifferenceAbsolute
    tr
      td Деформации грудной клетки
      td#export-chestDeformation
    tr
      td Сагиттальные отклонения оси позвоночника
      td#export-spineAxisSaggitalDeviation
    tr
      td Перекос таза
      td#export-pelvicTilt
    tr
      td Тип дыхания
      td#export-breathingType
    tr
      td Деформация стоп
      td#export-footDeformation
    tr
      td Шейный лордоз
      td#export-neckLordosis
    tr
      td Грудной кифоз
      td#export-chestKyphosi
    tr
      td Поясничный лордоз
      td#export-waistLordosi
    tr
      td Выпрямленная спина
      td#export-straightBack
    // Diagnoses
    tr
      td Физическое развитие
      td#export-conclusionAPhysicalDevelopment
    tr
      td Признаки висцерального ожирения
      td#export-conclusionAVisceralObesitySigns
    tr
      td Пропорции тела
      td#export-conclusionABodyProportions
    tr
      td Тип дыхания
      td#export-conclusionABreathType
    tr
      td Деформации опорно-двигательного аппарата
      td#export-conclusionASkeletalDeformations
    // Doctors and signatures
    tr
      td Исследователь А1
      td#export-doctor-a1
    tr
      td Дата исследования А1
      td#export-date-a1
