.header
  img(src="images/logo-rp.jpg" class="logo-rp" alt="Логотип НИИ" title="Логотип НИИ")
  p
    | Федеральное государственное бюджетное учреждение
    br
    b «Национальный медицинский исследовательский центр детской гематологии, онкологии и&nbsp;иммунологии имени&nbsp;Дмитрия&nbsp;Рогачева»
    br
    | Министерства Здравоохранения Российской Федерации
    br
    span.addresses
      | (ФГБУ  «НМИЦ  ДГОИ им. Дмитрия Рогачева»  Минздрава России)
      br
      | 117198, г. Москва, ул. Саморы Машела,&nbsp;д.1.
      br
      | Телефон: 8&nbsp;(495)&nbsp;937-50-24, факс: 8&nbsp;(495)&nbsp;936-22-36, e-mail:&nbsp;info@niidg.ru
      br
      | ОКПО 13157861, ОГРН 1027739507212, ИНН/КПП 7728008953/772801001
