.col-7
  | Ф.И.О. пациента: 
  span.pasted-text.fullName-copy
  br
  | Пол: 
  span.pasted-text.gender-copy &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  | .
  br
  | Возраст: 
  span.pasted-text.ageYears-copy &nbsp;&nbsp;&nbsp; 
  | лет, 
  span.pasted-text.ageMonths-copy 0
  |  мес.

.col-5
  | Идентификационный номер: 
  span.pasted-text.idNumber-copy
  br
  | Диагноз: 
  span.pasted-text.diagnosisMKB-copy
  br
  | Категория: 
  span.pasted-text.category-copy
