<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="css/bootstrap.css")
    link(rel="stylesheet" href="css/main.css")
    title Антропометрическое обследование
  
  body
    .container-custom
      h1 Testing jade
      
      .row
        include ./partials/header.jade
        include ./partials/patient-data.jade
        include ./partials/header.jade
